body {
background-color: white;
}
.showall {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    float: right;
    font-size: x-large;
    background-image: url("cloakscloud.png");
    border: none;
   z-index: -10;
    outline: 2px black solid;
    z-index: -1;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 2px 8px black ;
 }
 
 
 .box1 {
    border: none;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    background-image: url("cloakscloud.png");
   font-size: xx-large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:black;
 }
 li {
    margin-top: 20px;
    margin-left: 10px;
 }
 .instagram {
     
     width: 120px;
     height: 80px;
     position: relative;
     right: -200px;
     top: -10px;
     margin-left: 400px;
     margin-top: 30px;
     border-radius: 0px;
     font-size: x-large;
     box-shadow: 2px 2px 8px black;
     outline:none;
   border-radius: 10px;
   background-color:pink;

 }
    
   .box2 {
       border: none ;
       outline: none;
    
       height: 200px;
       width: 100%;
      
   }
 .instagrampng {
     position: relative;
     top: 40px;
     left: -90px;

 }
 h2 {
     font-size: small;
     text-decoration: underline solid 2px;
 }
 .box3 {
    height: 200px;
       width: 100%;
    border: none;
     position: relative;
     top: 40px;

    
 }
 .tiktok1 {
     position: relative;
     top: 20px;
     right: -440px;
     width: 100px;
     height: 100px;
 }
 .tiktok {
    width: 120px;
     height: 80px;
     position: relative;
    right: -497px;
    top: -20px;
     background-color: pink;
     border-radius: 0px;
     font-size: x-large;
     box-shadow: 2px 2px 8px black;
     outline:none;
   border-radius: 10px;
 }
 .box4 {
    height: 200px;
    width: 100%;
 border: none;
  position: relative;
  top: 40px;

  
 }
 .youtube1 {
     position: relative;
     top: -10px;
     right: -39%;
 }
 .youtube2 {
   position: relative;
   right: -475px;
   top: -70px;
     width: 120px;
     height: 80px;
     background-color: pink;
     border-radius: 0px;
     font-size: x-large;
     box-shadow: 2px 2px 8px black;
     outline:none;
   border-radius: 10px;
 }
 .allsocials {
   
 }